body {
    min-height: 12px;
    background-color: bisque;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
}

#game-info {
    color: rgb(9, 2, 17);
    text-align: end;
    text-decoration: underline overline #000;
}

#board {
    position: relative;
    width: 800px;
    height: 800px;
    box-shadow: 5px 5px 15px 5px #000;
}

.dot{
    background-color: brown;
    width: 14px;
    height: 14px;
}

.horline{
    position: absolute;
    width: ;
    height: ;
}

.verline{
    position: absolute;
    width: ;
    height: ;
}

.box{
    position: absolute;
    display: flex;
    align-items: center;
    width: ;
    height: ;
    justify-content: center;
    font-size: 24px;
    font-weight: bold;
    color: hwb(0 3% 76%);
}