body{
    min-height: 12px;
    background-color: bisque;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
}

#game-info{
    margin-left: 500px;
    text-align: end;
}
#board{
    position:static ;
    width: 300px;
    height: 300px;
    box-shadow: 5px 5px 15px 5px #000;
}